<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "header" id = "header-home">
        <div class="container-fluid">
            <div class="row g-0">
              <div class="col-md-4 p-3 text-start">
                <h2>Admin Portal</h2>
                </div>
              <div class="col-md p-3 text-end">
                <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
              </div>
            </div>
          </div>
          <hr>
        </div>
</body>
</html>