<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Subjects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <script>
        function edit_subject(subject_id, subject_name, subject_description){
            console.log(subject_id);
            console.log(subject_name);
            console.log(subject_description);
            document.getElementById(subject_id).innerHTML = `
            <div class="col" id = "${subject_id}">
                <input value = "${subject_id}" name = "subject_id" style = "visibility:hidden" form = "edit_subjects"/>
                <div class="card h-100">
                    <div class="card-header bg-light">
                        ${subject_id} ) <input type = "text" class = "form-control" name = "subject_name" value="${subject_name}" style = "display:inline; width: auto;" form="edit_subjects"/>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <textarea type = "text" class = "form-control" name = "subject_description" form = "edit_subjects">${subject_description}</textarea>
                        </p>
                    </div>
                    <div class="card-footer ">
                        <div class = "d-flex justify-content-between align-items-center">
                            <a href = "/admin/subjects"><button type = "button" class = "btn btn-outline-danger">Cancel</button></a>
                            <a href = "/admin/subject/delete/${subject_id}"><button type = "button" class = "btn btn-danger">Delete</button></a>
                            <button type = "submit" class = "btn btn-primary">Confirm</button>
                        </div>
                    </div> 
                </div>
            </div>
            `;
        }
        function make_visible(){
            console.log(document.getElementById("new_subject").style.visibility)
            
            if (document.getElementById("new_subject").style.visibility === "hidden"){
            document.getElementById("new_subject").style.visibility = "visible"
            console.log("did exec")
            }
        }
    </script>

</head>
<body >

    <div class = "header" id = "header-home">
    <div class="container-fluid">
        <div class="row g-0">
          <div class="col-md-4 p-3">
            <a href = '/admin/home'>
                <button type="button" class="btn btn-outline-danger">Go back</button>
            </a>
          </div>
          <div class="col-md-4 p-3 text-center">
            <h2>Edit Subjects</h2>
            </div>
          <div class="col-md-4 p-3 text-end">
            <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="container py-4">
        <form action = "/admin/subject/edit" method = "post" id = "edit_subjects">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for subject in subjects %}
            <div class="col" id = "{{subject.subject_id}}">
                <div class="card h-100">
                    <div class="card-header bg-light">
                        {{subject.subject_id}} ) {{subject.name}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{subject.description}}</p>
                    </div>
                    <div class="card-footer ">
                        <div class = "d-flex justify-content-between align-items-center">
                            <a href = "/admin/subject/delete/{{subject.subject_id}}"><button type = "button" class = "btn btn-danger">Delete</button></a>
                            <button type = "button" class = "btn btn-primary" onclick="edit_subject('{{subject.subject_id}}', '{{subject.name}}','{{subject.description}}')">Edit</button>
                            <a href = "/admin/{{subject.subject_id}}"><button type = "button" class = "btn btn-success">Go in</button></a>
                        </div>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div>
        </form>
    </div>
    <div class="d-grid col-6 mx-auto">
        <button class="btn btn-outline-primary" type="button" onclick="make_visible()">Add Subject</button>
      </div>
    <div id = "new_subject" style="visibility: hidden;">
        <form action = "/admin/subject/add" method="post" id = "new_subject_form">
            <div class = "container-fluid px-3 py-4">
                <div class = "row- mx-auto">
                    <div class = "col- mx-auto">
                        <label class="form-label" for = "name">Name of subject</label>
                        <input class = "form-control" id = "name" name = "subject_name" placeholder="name of the subject" form="new_subject_form"/>
                        <label class="form-label pt-4" for = "description">Description Of the subject</label>
                        <input class = "form-control" id = "description" name = "subject_description" placeholder="Description of the subject" form = "new_subject_form"/>
                    </div>
                </div>
            <div class = "row py-4 mx-auto">
                <div class = "col-6 align-items-center g-2">
                <a href = "/admin/subjects"><button class="btn btn-primary" type = "button">Cancel</button></a>
                <button class="btn btn-primary" type = "submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>