<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<body>

    <div class = "header" id = "header-home">
    <div class="container-fluid">
        <div class="row g-0">
          <div class="col-md-4 p-3">
            <a href = '/user/result'>
                <button type="button" class="btn btn-outline-info">Result</button>
            </a>
          </div>
          <div class="col-md-4 p-3 text-center">
            {{name}}
            </div>
          <div class="col-md-4 p-3 text-end">
            <a href="/logout"><button type="button" class="btn btn-outline-danger">Logout</button></a>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="container py-4">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {% for subject in subjects %}
          <a href="/user/{{subject.subject_id}}" style="text-decoration:none;">
          <div class="col" id = "{{subject.subject_id}}">
              <div class="card h-100">
                  <div class="card-header bg-success-subtle">
                      {{subject.subject_id}} ) {{subject.name}}
                  </div>
                  <div class="card-body card-body py-5 bg-info-subtle">
                      <p class="card-text">{{subject.description}}</p>
                  </div>
                  <div class="card-footer bg-danger-subtle">
                      <div class = "d-flex justify-content-center">
                          <!-- <a href = "/admin/{{subject.subject_id}}"><button type = "button" class = "btn btn-success">Go in</button></a> -->
                           {% if next_quiz_map[subject.subject_id] %}
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-warning-subtle rounded border-1 shadow mb-1">Next Quiz on : {{next_quiz_map[subject.subject_id][1]}}</li>
                            <li class="list-group-item bg-warning-subtle rounded border-1 shadow">Date : {{next_quiz_map[subject.subject_id][0]}}</li>
                          </ul>
                          {% else %}
                          <card-text> No upcomming quiz </card-text>
                          {% endif %}
                      </div>
                  </div> 
              </div>
          </div>
          </a>
          {% endfor %}
      </div>
  </div>

</body>
</html>