<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script>
        function timer(){
            let sec = 0;
            let min = 0;
            setInterval(()=>{
                document.getElementById('timer').innerHTML = `
                <button class = "btn btn-primary">${min}mm:${sec}ss</button>
                `;
                sec++;
                if (sec == 60){
                    sec = 0;
                    min++;
                }
                console.log(`${min} == {{quiz.time_duration}}`)
                if (min == {{quiz.time_duration}}){
                  console.log("time up")
                  const submitButton = document.getElementById("submit");
                  submitButton.click();
                }
            },1000);
        }

      function handleOptionClick(qid,oid){
        const total_question = {{quiz.question|length}};
        const total_answered = document.querySelectorAll('input[type="radio"]:checked').length;
        const progress_bar = document.querySelector(".progress-bar");
        const percentage = (total_answered/total_question)*100;
        console.log(total_question)
        console.log(qid)
        console.log(total_answered)
        progress_bar.classList.remove('bg-warning','bg-primary', 'bg-success', 'bg-danger');
        let button = document.getElementById("submit")
        button.classList.remove('btn-warning','btn-primary', 'btn-success', 'btn-danger')

        if (percentage<33.33){
          progress_bar.classList.add('bg-danger')
          button.classList.add('btn-danger')
        }else if (percentage<66.66){
          progress_bar.classList.add('bg-warning')
          button.classList.add('btn-warning')
        }else if (percentage<100){
          progress_bar.classList.add('bg-primary')
          button.classList.add('btn-primary')
        }else if (percentage>=100){
          button.classList.add('btn-success')
          progress_bar.classList.add('bg-success')
        }
        progress_bar.style.width = `${percentage}%`

        console.log(`link_${qid}`)
        const question_link = document.getElementById(`link_${qid}`);
        question_link.classList.add('bg-success-subtle')

      }
    </script>
    <style>
        .sticky-sidebar {
            position: sticky;
            top: 0;
            height: 100vh;
            overflow-y: auto;

            }
        .question-link .list-group-item{
          transition: all 0.2s ease;
        }
        .question-link:hover  .list-group-item{
          background-color: #e3e6e4;
          color: black;
          font-weight: bold;
          transform: scale(1.05);
        }
    </style>
</head>
<body>
  <nav class="container-fluid bg-light py-4 px-2">
    <div class="row align-items-center">
      <div class="col-10">
        <div class="progress" id = "progress_bar">
          <div class="progress-bar progress-bar-striped progress-bar-animated" 
               role="progressbar" aria-valuemin="0" 
               aria-valuemax="100" style="width: 0%"></div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-center">
        <div id="timer" class="text-end">
          Starting timer
        </div>
      </div>
    </div>
  </nav>
  <form action = "/user/{{subject_id}}/{{chapter_id}}/{{quiz_id}}" method = "POST" id = "transcript">
    <input value="{{submiter}}" name = "user_email" form = "transcript" style = "visibility: hidden;"/>
    <div class="container">
        <div class="row">
          <!-- Main content/ questions -->
          <div class="col-8 py-1" id="main">
            {% for question in quiz.question %}
            <div class="card border-1 mb-3" id = "question-{{question.question_id}}">
              <div class="card-header">
                
                {{loop.index}} ) {{question.question_stmt}}
                
              </div>
              <div class="card-body">
                {% for option in question.option %}
                <div class="form-check form-check">
                  <input 
                  class="form-check-input"   
                  type="radio" 
                  name="{{question.question_id}}" 
                  value="{{option.option_id}}" 
                  id="{{option.option_id}}" 
                  onclick="handleOptionClick({{question.question_id}}, {{option.option_id}})" 
                  form = "transcript" >
                  <label class="form-check-label" for="{{option_id}}">{{option.option_text}}</label>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="col-4 sticky-sidebar" id="Sidebar">
              <div class = "row">
                <div class = "col d-flex justify-content-center">
                  <div class="card flex-fill">
                    <ul class="list-group list-group-flush justify-content-center text-center">

                      {% for question in quiz.question %}
                        <a href="#question-{{question.question_id}}" class="question-link"  style="text-decoration: none;">
                          <li class="list-group-item" id = "link_{{question.question_id}}">
                          {{loop.index}}
                        </li></a>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class = "row">
                <div class="col d-flex justify-content-center">
                <button type = "submit" class = "btn btn-danger flex-fill" id = "submit">submit</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form> 
    <script>timer()</script>
      
</body>
</html>